{% extends 'loja/base.html' %}

{% block content %}
<h2>Nosso Catálogo de Tecidos</h2>
<hr>

<div class="mb-4">
    <strong>Filtrar por Categoria:</strong>
    <a href="{% url 'catalogo' %}" class="btn btn-sm btn-secondary">Todas</a>
    {% for cat in categorias %}
    <a href="?categoria={{cat.id}}" class="btn btn-sm btn-outline-primary">{{cat.nome}}</a>
    {% endfor %}
</div>


<div class="row">
    {% for tecido in tecidos %}
    <div class="col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
            {% if tecido.imagem %}
                <img src="{{ tecido.imagem.url }}" class="card-img-top" alt="{{ tecido.nome }}" style="height: 200px; object-fit: cover;">
            {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ tecido.nome }}</h5>
                <p class="card-text">R$ {{ tecido.preco_por_metro }} / metro</p>
                <a href="{% url 'detalhes_produto' tecido.id %}" class="btn btn-primary mt-auto">Ver Detalhes</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Nenhum tecido encontrado.</p>
    {% endfor %}
</div>
{% endblock %}